main {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

h1 {
  max-width: 15em;
  font-family: Agbalumo, fantasy;
}

#form { // yeah I know
  max-width: 20em;
  margin-bottom: 2rem;
  text-align: center;
  ul {
    text-align: left;
  }
}

canvas {
  background: pink;
  max-width: min(100%, 20rem);
}
