main {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  font-family: sans-serif;
}

h1 {
  width: 100%;
  font-family: fantasy;
  text-align: center;
}

#form { // yeah I know
  max-width: 20em;
  margin-bottom: 2rem;
  text-align: center;
  ul {
    text-align: left;
  }
}

button {
  margin-top: 1rem;
  color: gray;
}
button.ready {
  color: black;
  font-weight: bold;
}

canvas {
  max-width: min(100%, 20rem);
}

h6 {
  width: 100%;
  text-align: right;
  opacity: 0.5;
  font-weight: normal;
}
